#calendar, #calendar *{
  text-align: center;
  align-items: center;
box-sizing:border-box;
font-family: var(--fontfamily);
--fontfamily: ms pgothic;
--border:1px double #254496;
}

/* Calendar Section */
#calendar {
  max-width: max-content;
overflow: hidden;
  padding: 5px 2px;
background:#0001be;
}

#calendar-controls {
  display: flex;
  justify-content: space-between;
border: var(--border)
}

#calendar-controls button {
color: #fff;
  background: transparent;
  border: none;
  padding: 0 3px;
  font: 15px var(--fontfamily);
  cursor: pointer;
  transition: color 300ms ease;
}

#calendar-controls button:hover {
  color: #ff8aa3;
}

#calendar-controls #month-year {
  color: white;
  font: italic 12px var(--fontfamily);
}

#calendar-table {
  border-collapse: collapse;
  margin-top: -1px;
}

#calendar-table th {
background:#8482e3;
  color: #fff;
  font: bold 10px var(--fontfamily);
  border: var(--border);
  height: 20px;
  transition: background-color 300ms ease;
}

#calendar-table td {
background:white;
  width: 20px; 
  border: var(--border);
  height: 25px;
  font-size: 12px;
  transition: background-color 300ms ease;
}

#calendar-table td.current-date {
  background-color: #8482e3;
  color: white;
  font-weight: bold;
}
