@font-face {
font-family: 'FMTowns 8x16';font-style: normal;
src: url(https://files.catbox.moe/9vsv5r.woff) format('woff');}

@font-face {
font-family: 'YOzFont5x7dEL';
src: url(https://file.garden/ZonjcUkbkCM9lSMe/font/DelaSukoGothicOne-R.ttf);}

@font-face {
font-family: 'Arial Black';font-weight: 900;
src: url(https://file.garden/ZonjcUkbkCM9lSMe/font/arial_black.ttf);}