.item1{
  display: flex;
  align-items: center;
  justify-content: center;
font-family: arial;
color: var(--txt);
--txt: #195863;
position:absolute; margin: 5px 0;margin-inline: auto; 
bottom: 10px;
left: 0; 
right: 0; 
}

.track-art {
margin: auto;
height: 75px;
width: 75px;
background-size: cover;
border-radius: 0px;
}

input {display:none}

.TRACK-NAME,
.track-artist{
position: relative;
text-align: center;}
.track-name {
line-height: 15px;
align-items: center;
justify-content: center;
font-size: .9rem;
max-width: 140px;
font-weight: 750;
margin-top: 5px;
margin-bottom: -5;}
.track-artist{
margin-top: 2px;
line-height: 15px;
font-size: .8rem;
font-weight: 450;}

.buttons {
display:flex;
justify-content: center;
cursor: pointer;
transform-origin: center;
translate: 0 -280%;
margin-bottom: -30px;
scale: .7;
color:white;
opacity: .8;
filter: drop-shadow(3px 3px #00000044);
}

.slider_container {
width: 100%;
display: flex;}
.current-time  {
display:none;}
.total-duration{
visibility: hidden;
font-size: 10px;
position:relative;
left: 20px;
top: 60px;}

.track-art:hover > .total-duration,
.buttons:hover ~ .total-duration {color:white;
visibility: visible;
}
